<div class="forgot-container">
  @if(!isResetMode){
    <form [formGroup]="forgotForm" (ngSubmit)="sendResetLink()">
      <h2>Forgot Password</h2>
  
      <label>Email</label>
      <input formControlName="email" type="email" placeholder="you@example.com" />
      @if(forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched){
        <div class="error">
          Enter a valid email.
        </div> 
      } 
      <button type="submit" style="margin-top: 1.5rem;" [disabled]="forgotForm.invalid">
        @if(!loader){
         <span>   Send Reset Link </span>  
        }
        @else if( loader){
          <div class="main">
               <span class="loader sm"></span>
           </div>
        }
      </button>
      <div class="alternative">
        <span>Or</span>
      </div>
       <button (click)="navigate('signup')" >Create New Account</button>
      @if(message){
        <p class="success">{{ message }}</p>
      }
      @if(error){
        <p class="error">{{ error }}</p>
      }
    </form>
  }
  @else if(isResetMode){
    <div class="reset-container">
  <form [formGroup]="resetForm" (ngSubmit)="updatePassword()">
    <h2>Reset Your Password</h2>

    <label>New Password</label>
    <input
      formControlName="newPassword"
      type="password"
      placeholder="Enter a new password"
    />
    @if(resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched){
      <div class="error">
        Password must be at least 6 characters.
      </div>
    }

    <button type="submit" [disabled]="resetForm.invalid" style="margin-top: 1.5rem;">
      @if(!loader){
        <span> Update Password</span>
      }
      @else if(loader){
        <div class="main">
             <span class="loader sm"></span>
         </div>
      } 
    </button>
    @if(error){
      <p   class="error">{{ error }}</p>
    }
    @else if(success){
      <p  class="success">{{ success }}</p>
    }
  </form>
</div>

  }
</div>
