.flex-column {
  display: flex; 
  flex-direction: column;
}
.flex-row {
  display: flex; 
  flex-direction: row;
}
.header {
  padding: 20px 10px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.logo-dash{
 @extend .flex-row;
 width: 10%;
 justify-content: space-around

}
.inner-header {
  @extend .flex-row;
  justify-content: space-between;
}

.dashboard-content {
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.user-logo{
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #3f3e3e00;
}